.film {
	&__inner {
		background-color: #fff;
		padding: 4rem 4.8rem 2rem;
	}
}
.error-internet {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 48em) {
	.film {
		background-color: #fff;
		&__inner {
			padding: 0;
			padding-bottom: 4rem;
		}
	}
}
