.header {
	margin-bottom: 2rem;
	&__menu {
		display: flex;
		justify-content: center;
		margin-bottom: 2.5rem;
	}
}

@media (max-width: 48em) {
	.header {
		&__menu {
			margin-bottom: 3.4rem;
		}
	}
}
