@font-face {
	font-family: 'Inter';
	src: url('../../public/fonts/Inter-Regular.eot');
	src:
		url('../../public/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../public/fonts/Inter-Regular.woff2') format('woff2'),
		url('../../public/fonts/Inter-Regular.woff') format('woff'),
		url('../../public/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
